.box-shadow {
    width:800px;
    height:430px;
    box-shadow: 250px 0 250px 0px rgb(0, 0, 0) inset;
    margin:5px auto;
    border-radius: 15px;

}
.img_shadow{
    position: relative;
    z-index: -3;
    width:800px;
    height:430px;
    border-radius: 15px;
}

.div_span{
    position:absolute;
    color:white;
    width:400px;
    margin-left:100px;
    margin-top:50px;

}
.div_span>div{
    margin-left:120px;
    font-size: 10px;
}
.div_span>span{
    display:block;
    margin-top: 30px;
    font-size: 12px;
}
.filmTime{
    border:1px solid white;
    border-radius: 5px;
    margin-top:5px;
    padding:5px;
    display: block;
    justify-content: space-between;
    width:60px;
}
.poster{
    position: absolute;
    width:100px;
    height:120px;
    border:1px solid black;

}
